/*
.*

__pycache__

# INCLUDE BACK
# ------------

# DIRECTORIES
# ------------

!src

# DIRECTORIES
# ============

# FILES
# ------------

!.gitignore

!parse_pages_from_xml.py

!pyproject.toml
!uv.lock

# FILES
# ============

# INCLUDE BACK
# ============