/*
.*

__pycache__

# INCLUDE BACK
# ------------

# DIRECTORIES
# ------------

!src
!opensearch

# DIRECTORIES
# ============

# FILES
# ------------

!.gitignore

!parse_pages_from_xml.py
!send_to_opensearch.py

!pyproject.toml
!uv.lock

!links.html

# FILES
# ============

# INCLUDE BACK
# ============